<div class="modal hide fade in" id='update_me_modal'>
  <div class="modal-header">
    <div class="close hide_modal" data-dismiss="update_me_modal">×</div>
    <h3>Update Me</h3>
  </div>
  <div class="modal-body">
    <div class='updated_email_form'>
      <label id='update_email_label' for='update_email'>Email:</label>
      <input type='email' name='update_email' id='update_email' placeholder='me@example.com'></input>
    </div>
    <p>We'll keep you updated on new rounds for this company. We <em>don't</em> spam.</p>
  </div>
  <div class="modal-footer">
    <div id='keep_updated_button' class='btn btn-primary hide_modal'>Keep Me Updated</div>
    <div class="btn hide_modal">Close</div>
  </div>
</div>