<%= stylesheet_link_tag "companies" %>
<div id='companies'>
  <h1>Know your competitors</h1>
  <h3>Find out and stay up to date on any startup's funding</h3>
  <input type='search' id='search' placeholder='Startup' value='<%= params[:search] %>'/>
  <ul id='companies_list'>
    
  </ul>
</div>
<%= javascript_include_tag 'search' %>