  <% unless @round.revenue_range and @round.revenue_range.empty? %>
    <p id='revenue_range'>
      The revenue range for this company is: <strong><%= @round.revenue_range %></strong> 
    </p>
  <% end %>