<% if @round.first_investment and @round.end_date %>
  The round started on <%= @round.first_investment.strftime('%A, %B %d, %Y').to_s %> and ended on <%= @round.end_date.strftime('%A, %B %d, %Y').to_s %>.</p>
<% elsif @round.first_investment %>
  The round started on <%= @round.first_investment.strftime('%A, %B %d, %Y').to_s %>.
<% elsif @round.end_date %>
  The round ended on <%= @round.end_date.strftime('%A, %B %d, %Y').to_s %>.
<% end %>