#show
{
  #company
  {
    h1
    {
      margin-bottom: 0px;
      text-align: center;
    }
    #update_me_container
    {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 100%;
      #update_me
      {
        margin: 0 auto;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14pt;
        width: 250px;
      }
    }
    #related_people, #rounds, #update_me_container
    {
      display: inline-block;
      li
      {
        background: #FFF;
      }
    }
    #related_people
    {
      float: right;
    }
    #rounds
    {
      float: left;
    }
  }
  #update_me_modal
  {
    .modal-body 
    {
      text-align: center;
      .updated_email_form
      {
        #update_email_label, #update_email
        {
          display: inline-block !important;
        }
      }
    }
  }
}
