#show
{
  h1
  {
    text-align: center;
  }
  #overview
  {
    margin-top: 5px;
  }
  p
  {
    text-indent: 50px;
  }
  li
  {
    margin-left: 55px;
  }
  #source
  {
    text-align: center;
  }
  #related_people
  {
    margin-left: 55px;
    h3
    {
    }
  }
  #related_people_list
  {
    text-align: left;
    li
    {
      margin-left: 0px;
    }
  }
}