#show
{
  h1, h2
  {
    text-align: center;
  }
  h2
  {
    margin-bottom: 5px;
  }
  #highcharts-0
  {
    width: auto;
    height: 10px;
  }
  #explanation
  {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    #total_invested
    {
      text-align: center;
    }
  }
  #source
  {
    text-align: center;
  }
}